.menu:hover {
  width: 250px;
  overflow: visible;
}

.menu {
  background: #000000;
  border-right: 1px solid #038ec1;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 100;
}

.menu > ul { padding-left: 60px; }

.menu:hover ul { padding-left: 0; }

.menu:hover .hambgr { display: none; }

.menu li {
  position: relative;
  display: block;
  width: 250px;
  overflow: hidden;
}

.menu li a {
  border-collapse: collapse;
  border-spacing: 0;
  color: #fff;
  display: block;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  transition: all 0.1s linear 0s;
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: 'Pangolin', cursive;
  font-size: 180%;
  padding-bottom: 20px;
}

.menu li a:hover { background: gray; }

.hambgr {
  height: 4px;
  width: 30px;
  background: #fff;
  position: absolute;
  top: 20px;
  left: 14px;
}

.hambgr:before, .hambgr:after {
  background: #fff;
  content: "";
  height: 4px;
  position: absolute;
  top: -7px;
  width: 30px;
}

.hambgr:after { top: 7px; }

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    padding: 1em;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
    font-family: 'Pangolin', cursive;
    margin-left: 5%;
    font-size: 2em;
}

.col-8 {
    width: 66.66%;
    font-family: 'Pangolin', cursive;
    padding: 1em;
    font-size: 2em;
    text-align: justify;
}

.col-9 {
    width: 75%;
    font-family: 'Pangolin', cursive;
    margin-left: 5%;
    font-size: 2em;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-12 h1{
    font-family: 'Pangolin', cursive;
    margin-left: 5%;
    font-size: 3em;
}

.col-12 p{
    font-family: 'Pangolin', cursive;
    margin-left: 5%;
    font-size: 1em;
}

q {
    font-family: 'Pangolin', cursive;
    margin-left: 45%;
    font-size: 5em;
}

h1 {
    font-family: 'Pangolin', cursive;
    margin-left: 50%;
    font-size: 2em;
}

header {
    font-family: 'Pangolin', cursive;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 3em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
footer {
    font-family: 'Pangolin', cursive;
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

span {
  font-size: 4em;
  font-family: 'Pangolin', cursive;
  background-color: #000;
  color: #fff;
}

span b {
  font-size: 30%;
}

.img-circle {
    border-radius: 50%;
    padding-right: 1em;
}

.container1 {
  margin: 0 auto;
  max-width: 1100px;
  border: 3px solid black;
  margin-bottom: 15px;
  width: 100%;
}
#box{
    width: 500px;
    border: 1px solid #ccc;
    background: :rgba(255,255,255,0.5);
    top:50%;
    left:50%;
    margin-top: 80px;
    margin-left: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
}
#contact-form{
    padding:20px;
     
}

#contact-form label{
    font-size: 30%;
    width:100px;
    float:left;
    padding:10px;
        
}
#contact-form input,#contact-form textarea{
    width:300px;
    padding:10px;
    border:1px solid #eee;
    border-radius: 3px;
    transition: 0.5s;
    
}
#contact-form textarea{
    height: 150px;
}

#contact-form input:focus, #contact-form textarea:focus{
    box-shadow:0 0 3px 2px rgba(0,200,255,0.5);
} 
#contact-form button{
    border:1px solid #ccc;
    padding:6px;
    width:80px;
    border-radius: 5px;
    color:#333;
}
#contact-form button:hover{
    color:#333;
}


// for Slideshow

