* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background: #77C9D4; /* For browsers that do not support gradients */
  background: linear-gradient(to left, #F78C40,#CC3020,#CC3020, #F45959); /* Standard syntax */
}

nav {
 background-color : floralwhite; 
  height: auto;
  font-family: 'Pangolin', cursive;
}

nav ul {
  width: auto;
  margin: 0 auto;
  padding: 1em;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  text-decoration: none;
  font-size: 200%;
  color: #CC3020;
}

nav ul li a:hover {
  background: #F45959;
  color: #000;
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  position:relative;
}

.banner {
  height: 600px;
  background: linear-gradient(to left, #F78C40,#CC3020,#CC3020, #F45959);
  background-size:100% 100%;
}

.banner1 {
  height: 100px;
  background: linear-gradient(to left, #F78C40,#CC3020,#CC3020, #F45959);
  background-size:100% 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-repeat: no-repeat, repeat;
  margin-top: 60px;
  margin-bottom: 100px;
}

.row {
  margin-bottom: 5px;
  display: flex;
  padding: 2em;
  background-color: floralwhite;
  width: auto;
}

.col-12 {
  width: 100%;
  font-family: 'Bree Serif', serif;
  font-size: 1.5em;
  text-align: justify;
}

.col-12 h1{
  width: auto;
  font-family: 'Pangolin', cursive;
  margin: 0 auto;
  font-size: 1.5em;
  background: linear-gradient(to left, #F78C40, #CC3020, #F45959);
  color: floralwhite;
  padding: 0.5em;
  text-align: left;
}

.col-12 p {
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

.img-shape {
    border-radius: 80px;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

.img-inter {
     border-radius: 60px;
     margin-right: 90px;
     margin-left: 70px;
    
}


footer {
    font-family: 'Pangolin', cursive;
    font-size: 150%;
    color: #CC3020;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin-top: auto;
    background-color: floralwhite;
    text-align: center;
    padding-top: 15px;
}

.mem {
  text-align: center;
}

#contact{
  text-align: center;
}

#contact ul{
  list-style: none;
}


